src/main/resources/test.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Auskunft">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="XMLVersion">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="versionsnummer"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>